html,
body {
    height: 100%;
}
button, 
button:active, 
button:focus {
    outline: none;
}

thead{
    font-weight: bold;
}


#wrap {
    min-height: 100%;
    height: auto;

    margin: 0 auto -60px;

    padding: 0 0 60px;
    background-color: white; 
}


#footer {
    padding-top: 20px;
    height: 60px;
    background-color: #000080;
    color:#222220;
    width: 100%;
}

.jumbotron,
.panel-heading {
    background-color: #000080;
    color:black;
}

.panel {
    margin-left: 5%;
    margin-right: 5%;
}

.form-group {
    margin: 20px;
    background-color: white; 
}

.panel-primary {
    border-color: #000080;
    border-width: 2px;
}

.table,
form,
.panel-primary {
    background-color: white; 
}
.btn-primary {
    background-color: #000080;
    border: none;
    color:black;
}

